.infromation {
  width: 100%;
  padding: 30px 100px;
}

.profile-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.info-item {
  color: rgb(42, 42, 42);
  width: calc(33% - 20px);
  background: rgb(166, 230, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 5px;
}

.info-item:nth-child(2) {
  background: rgb(255, 164, 142);
}

.info-item:nth-child(3) {
  background: rgb(171, 255, 196);
}

.info-item h4 {
  font-size: 20px;
  font-weight: bold;
}

.info-item span {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.info-item svg {
  font-size: 23px;
  font-weight: bold;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .infromation {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 576px) {
  .infromation {
    padding: 30px 0;
  }
  .info-item h4 {
    font-size: 18px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 400px) {
  .infromation {
    padding: 20px 0px;
    width: 60vw;
  }
  .info-item h4 {
    font-size: 12px;
    margin-right: 15px;
  }
}
