.sidebar {
  padding: 50px 0 0 0;
  background: rgb(248, 248, 248);
  width: 300px;
  max-width: 300px;
  height: 120vh;
}

.sidebar ul {
  padding: 0 15px;
}

.sidebar ul li {
  margin: 10px 0;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  color: rgb(42, 42, 42);
  cursor: pointer;
}

.sidebar ul li a {
  color: rgb(42, 42, 42);
}

.sidebar ul li:hover {
  background: rgb(231, 231, 231);
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 200px;
  }
  .sidebar .logo img {
    width: 100px;
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    width: 60px;
  }
}
