.table thead td,
.table thead th {
  color: #2a2a2a !important;
  padding-right: 50px !important;
}

.table tbody tr:last-child td {
  padding-right: 50px !important;
}

.table th:not([align]) {
  text-align: var(--bulma-table-cell-text-align);
  padding-left: 20px !important;
}
